<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8GYWqkXL-tI9ec4IleKNu-7bbkSb4Kvo</string>
	<key>GCM_SENDER_ID</key>
	<string>879211566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worldOfJourney.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-car-cdcda</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-car-cdcda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879211566:ios:5f5322225bab2be8a55bbf</string>
</dict>
</plist>